<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>{{.LogFile.Name}}</title>
    <style>
        #messages{
            height: 100%; width: 100%; background-color: black; color: white;
            padding: 5px;
            font-size: 12px;
            overflow: scroll;
        }
        red{color: red;}
    </style>
    <script>
        var FID = "/{{.LogFile.Id}}";
        var Remote = "{{.Remote}}";
    </script>
</head>
<body class="border">
<div id="messages"></div>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="javascript:void(0)">{{.LogFile.Name}}</a>
    <div class="input-group">
        <input id="grepTxt" type="text" class="form-control" placeholder="过滤搜索内容" aria-label="过滤日志内容">
        <span class="input-group-btn">
            <button id="grepBtn" class="btn btn-secondary" type="button">Go</button>
        </span>
        <span class="input-group-btn">
            <button id="cleanBtn" class="btn btn-success" type="button">Clean</button>
        </span>
    </div>
</nav>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="/static/js/main.js" type="text/javascript"></script>
</body>
</html>